html {
  font-size: 10px;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RockSalt';
}

.wrapper {
  padding: 0 5vw;
  margin: 0 auto;
  height: 100%;
}

.display--none {
  display: none;
}
